<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
		//alert("hola");
		
		//tenemos que conectarle con los sse
		var fuente=new EventSource("webapi/noticiasagregadas");
		fuente.onmessage=function(evento) {
			
			var objeto=JSON.parse(evento.data);
			console.log(objeto);
			if (objeto.texto=="FINAL") {
				
				fuente.close();
			}
		}
		
		
		
		
		
})
</script>
</head>
<body>
hola
</body>
</html>