<form>
    <input type="text" [(ngModel)]="filtroConcepto" name="concepto" (keyup)="keyUp.next($event)">
</form>
<table>

    <tr *ngFor="let producto of lista">

      <app-fila-producto
       [producto]="producto" 
       [productoEditado]="productoEditado"
       (eventoBorrar)="borrarProductoEvento($event)"
       (eventoDetalle)="detalleProductoEvento($event)"
       (eventoEditar2)="editar2ProductoEvento($event)"
       (eventoEditar)="editarProductoEvento($event)"
       (eventoSalvar)="salvarProductoEvento($event)"
       
       ></app-fila-producto>
        
     </tr>

</table>

<!-- el router admite muchas parametrizaciones lleva la url de destino-->
<a [routerLink]="['/formulario']">nuevo</a>



