<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web001</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet001</display-name>
    <servlet-name>Servlet001</servlet-name>
    <servlet-class>com.arquitecturajava.Servlet001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet001</servlet-name>
    <url-pattern>/Servlet001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet002</display-name>
    <servlet-name>Servlet002</servlet-name>
    <servlet-class>com.arquitecturajava.Servlet002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet002</servlet-name>
    <url-pattern>/Servlet002</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet003</display-name>
    <servlet-name>Servlet003</servlet-name>
    <servlet-class>com.arquitecturajava.Servlet003</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet003</servlet-name>
    <url-pattern>/Servlet003</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario001</display-name>
    <servlet-name>ServletFormulario001</servlet-name>
    <servlet-class>com.arquitecturajava.ServletFormulario001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario001</servlet-name>
    <url-pattern>/ServletFormulario001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario002</display-name>
    <servlet-name>ServletFormulario002</servlet-name>
    <servlet-class>com.arquitecturajava.ServletFormulario002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario002</servlet-name>
    <url-pattern>/ServletFormulario002</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario003</display-name>
    <servlet-name>ServletFormulario003</servlet-name>
    <servlet-class>com.arquitecturajava.ServletFormulario003</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario003</servlet-name>
    <url-pattern>/ServletFormulario003</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario004</display-name>
    <servlet-name>ServletFormulario004</servlet-name>
    <servlet-class>com.arquitecturajava.ServletFormulario004</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario004</servlet-name>
    <url-pattern>/ServletFormulario004</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario006</display-name>
    <servlet-name>ServletFormulario006</servlet-name>
    <servlet-class>com.arquitecturajava.ServletFormulario006</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario006</servlet-name>
    <url-pattern>/ServletFormulario006</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet004</display-name>
    <servlet-name>Servlet004</servlet-name>
    <servlet-class>com.arquitecturajava.Servlet004</servlet-class>
    <init-param>
    <param-name>inicio</param-name>
    <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet004</servlet-name>
    <url-pattern>/Servlet004</url-pattern>
  </servlet-mapping>
</web-app>