<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	
	//alert("jquery funciona ");
	
	$.get("http://localhost:8080/webapi/personas",function(listaPersonas){
		
		console.log(listaPersonas);
		listaPersonas.forEach(function(persona) {
		
					$("table").append(plantillaTabla(persona));
		
		})
		
	
	})
	
})




function plantillaTabla(persona) {
	//ES6
	var plantilla=
		`<tr>
	     <td>${persona.nombre}</td>
	     <td>${persona.apellidos}</td>
	     <td>${persona.edad}</td>
	  </tr>`
	  return plantilla;
}





</script>
<style>
table , form {
	margin:20px;
}

</style>
</head>
<table>

</table>


</html>
