<form>
    <input type="text" [(ngModel)]="filtroConcepto" name="concepto" (keyup)="keyUp.next($event)">
</form>
<table>

    <tr *ngFor="let producto of lista">

        <ng-container *ngIf="productoEditado!=producto">

                <td>{{producto.id}}</td>
                <td>{{producto.concepto}}</td>
                <td>{{producto.importe}}</td>
                <td><input type="button" value="borrar" (click)="borrar(producto)" /></td>
                <td *ngIf="productoEditado!=producto"><input type="button" value="editar" (click)="editar(producto)" /></td>

        </ng-container>


        <ng-container *ngIf="productoEditado==producto">

                <td><input type="text" name="id" [(ngModel)]="producto.id"/></td>
                <td><input type="text" name="concepto" [(ngModel)]="producto.concepto"/></td>
                <td><input type="text" name="importe" [(ngModel)]="producto.importe"/></td>
                <td><input type="button" value="borrar" (click)="borrar(producto)" /></td>
                <td *ngIf="productoEditado==producto">
                        <input type="button" value="salvar" (click)="salvar(producto);productoEditado=null" />
                </td>
        </ng-container>

        
      
       

       

</table>

<form>
    <p>
        <input type="text" [(ngModel)]="productoNuevo.id" name="id" />
    </p>
    <p>
        <input type="text" [(ngModel)]="productoNuevo.concepto" name="concepto" />
    </p>
    <p>
        <input type="text" [(ngModel)]="productoNuevo.importe" name="importe" />
    </p>
    <p>
        <input type="button" value="insertar" (click)="insertar(productoNuevo)" />
    </p>



</form>

