<form>
    <p>
        <input type="text" [(ngModel)]="productoEditar.id" name="id" />
    </p>
    <p>
        <input type="text" [(ngModel)]="productoEditar.concepto" name="concepto" />
    </p>
    <p>
        <input type="text" [(ngModel)]="productoEditar.importe" name="importe" />
    </p>

    <p>
        <input type="text" [(ngModel)]="productoEditar.categoria" name="categoria" />
    </p>

    <p>
        <input type="button" value="salvar" (click)="salvar(productoEditar)" />
    </p>



</form>
